@import '~dropzone/src/dropzone.scss';
@import 'variables';

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  border: 2px solid #0000004C;
  border-radius: 0;
  padding: 20px;
  background-image: linear-gradient(135deg, $lightgrey 25%, $grey 0, $grey 50%, $lightgrey 0, $lightgrey 75%, $grey 0,$grey);
  background-size: 40px 40px;

  .dz-message {
    background-color: $darkgreySemiTransparent;
    border: 1px dotted $grey;
    margin: 0;
    padding: 1rem;

    .dz-button {
      background: none;
      border: none;
      padding: 0;
    }
  }

  .dz-preview.dz-image-preview {
    background: transparent;
  }

  .dz-image > img {
    max-height: 200px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid $cardBorder;
  border-radius: .25em;
  background-color: $darkgrey;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 1px 0 rgba(60,75,100,.14),0 2px 1px -1px rgba(60,75,100,.12),0 1px 3px 0 rgba(60,75,100,.2);

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.25rem;
    border-bottom: 1px solid $grey;

    .details {
      display: flex;
      gap: 5px;

      .icon {
        height: 20px;
        width: 20px;
      }
    }
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}

.badge {
  padding: 3px;
  border-radius: 5px;
}

.badge-processing {
  background-color: $processing;
}

.badge-success {
  background-color: $success;
}

.badge-error {
  background-color: $error;
}

.border-success {
  border-color: $success;
}

.border-error {
  border-color: $error;
}

.border-processing {
  border-color: $warning;
}

.d-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.modal {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.video-transmorpher, .image-transmorpher > img {
  height: 150px;
}
